<div class="controls">
    <a id="prev" href="{{ prevArticle article.id article.page article.size }}">Пепередня сторінка</a>
    <a id="next" href="{{ nextArticle article.id article.page article.size }}">Наступна сторінка</a>
</div>
<article class="article">
    <h2>{{ article.heading }}</h2>
    {{{ article.content }}}
</article>
<span class="page">{{ article.page }}</span>